services:
  master:
    build: .
    container_name: master
    command: python -m engine.master
    ports:
      - "8000:8000"
    volumes:
      - ./tasks:/app/tasks:ro
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - mapreduce

  worker1:
    build: .
    container_name: worker1
    command: python -m engine.worker --port 8001 --master-url http://master:8000 --advertise-host worker1
    environment:
      - DATA_DIR=/app/data/node1
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data/node1:/app/data/node1:ro
    networks:
      - mapreduce
    depends_on:
      - master

  worker2:
    build: .
    container_name: worker2
    command: python -m engine.worker --port 8001 --master-url http://master:8000 --advertise-host worker2
    environment:
      - DATA_DIR=/app/data/node2
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data/node2:/app/data/node2:ro
    networks:
      - mapreduce
    depends_on:
      - master

  worker3:
    build: .
    container_name: worker3
    command: python -m engine.worker --port 8001 --master-url http://master:8000 --advertise-host worker3
    environment:
      - DATA_DIR=/app/data/node3
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data/node3:/app/data/node3:ro
    networks:
      - mapreduce
    depends_on:
      - master

  worker4:
    build: .
    container_name: worker4
    command: python -m engine.worker --port 8001 --master-url http://master:8000 --advertise-host worker4
    environment:
      - DATA_DIR=/app/data/node4
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data/node4:/app/data/node4:ro
    networks:
      - mapreduce
    depends_on:
      - master

networks:
  mapreduce:
